{% extends "base.html" %}
{% block page_title %}
  Home
{% endblock page_title %}

{% block content %}
  {{now}}

  {% for room in rooms %}
    <h3>
      <a href="{% url "rooms:detail" room.pk %}">
        {{room.name}}
        / ${{room.price}}</h3>
    </a>
  {% endfor %}
  <h5>
    {% if pages.has_previous %}
      <a href=" ?page={{pages.previous_page_number} }" =" }" "=" }""="}" "" ">Previous</a>
    {% endif %}
    Page
    {{page_obj.number}}
    of
    {{page_obj.paginator.num_pages}}
    {% if pages.has_next %}
      <a href=" ?page={{pages.next_page_number}}">Next</a>
    {% endif %}

  </h5>
{% endblock content%}
